<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Login</title>
    <link
      href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css"
      rel="stylesheet"
      integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC"
      crossorigin="anonymous"
    />
  </head>
  <body>
    <% if(user_exists_user_name){ %>
      <h2> <%= user_exists_message %></h2>
      <h2>Welcome <%= user_exists_user_name %>, please log in</h2>
      

    <% }else if(new_user_user_name){ %>
      <h2> <%= new_user_message %></h2>
      <h2>Welcome <%= new_user_user_name %>, please log in</h2>

      <%} else if (pwd_msg){ %>
        <h2><%= pwd_msg %></h2>
        <h2><%= user_email %>, enter correct password</h2>
      <% } %>


    <form action="/login" method="post">
      <div class="col-sm-6">
        <label for="email" class="form-label">Email address</label>
        <input type="email" class="form-control" id="email" name="email" />
      </div>
      <div class="col-sm-6">
        <label for="pwd" class="form-label">Password</label>
        <input type="password" class="form-control" id="pwd" name="pwd" />
      </div>

      <button type="submit" class="btn btn-primary">Submit</button>
    </form>
  </body>
</html>
